*.jar
!lib/*.jar
.bin
bin/
flamecoordinator.bat
flameworker*.bat
kvscoordinator.bat
kvsworker1.bat
server.log_txt
flamecoordinator.sh
kvscoordinator.sh
flameworker*.sh
kvscoordinator.sh
kvsworker*.sh
kvsworker*.bat
test_results.json
__worker/*
worker1/
**/*.crawl
!advanced.crawl
!simple.crawl
server_log.txt
TODO.md
log.properties
